body {
  font-family: "Arial", "Meiryo",sans-serif;
}
.google-fonts {
  /* ここにGoogle Fontsを指定します*/
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
html {
  font-size: 20px;
}
.text-skyblue {
   color: skyblue;
}
.text-pink {
   color: rgb(255, 192, 203);  
}
.decoration1 {
   text-align: center;
   letter-spacing: 1.2em;
   text-shadow: 2px 2px 4px gray;
   border-bottom: solid 3px rgb(115, 115, 114);
   font-size: 40px;
}
.decoration2 {
  text-align: center;
}
#basic {
  font-weight: bold;
  text-align: center;
}
 